.nav {
   box-sizing: border-box;
   float: left;
   width: 20%;
}

section {
   margin-left:20%;
   box-sizing: border-box;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

body {
   margin-bottom: 120px;
}